<!DOCTYPE html>
<html>
  <head>
    
    
    <title>Kajibuntan</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <ul class= "header-top">
          <h2><%= link_to("top","/homes")%></h2>
      </ul>
      <ul class="header-menus">
        <% if user_signed_in?%>
        <li>
          <%= link_to("招待", "/invites/new") %>
        </li>
        <li>
          <%= link_to("分担の一覧", "/works") %>
        </li>
        <li>
          <link_to("ログイン", "/users/sign_in")>
        </li>
          <% else %>
        <li>
          <%= link_to("ログアウト", "/users/sign_in") %>
        </li>
        <% end %>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
